.transaction-history {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.transaction-history-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-history-table th,
.transaction-history-table td {
  border: 1px solid #646262;
  padding: 8px;
}

.transaction-history-table th {
  background-color: #121111;
  color: #fff;
}

/* Додали стилі для виділення рядків таблиці при наведенні курсору */
.transaction-history-table tr:nth-child(even) {
  background-color: #efecec; /* Світлий колір для парних рядків */
}

.transaction-history-table tr:nth-child(odd) {
  background-color: #ddd; /* Сірий колір для непарних рядків */
}

/* Додали стилі для виділення рядків таблиці при наведенні курсору */
.transaction-history-table tr:hover {
  background-color: #fff;
}